<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852191291471-nqnu2l0keeh2o9g7les8lfi98tq4fip6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852191291471-nqnu2l0keeh2o9g7les8lfi98tq4fip6</string>
	<key>API_KEY</key>
	<string>AIzaSyAZC0yovar8yYtLsL30AOCOtDko5d9wImI</string>
	<key>GCM_SENDER_ID</key>
	<string>852191291471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>todo-list-266c3</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-266c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852191291471:ios:14571bdd9117a78eec223a</string>
</dict>
</plist>